.fullscree{
    width: 100vw;
    height: 100vh;
    border: solid 1px black;
}

.visuals{
    background-color: #F0F2F4;
}

.gearAnm{

}

#gear{
    animation-name: ckw;
    animation-duration: 45s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    display: inline-block;
    animation-timing-function: linear;
}

@keyframes ckw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes ccw {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}